body {
  background-color: lightgray;
  background-image: linear-gradient(green, yellow);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbotron {
  margin-top: 10px;
  text-align: center;
  font-size: 48pt;
  font-weight: bold;
}

.list {
  float: left;
  border: solid #bba 5px;
  padding: 4px;
  border-radius: 5px;
  margin: 5px;
  background-color: #ffe;
}

.incomplete:hover {
  text-decoration: underline;
  color: blue;
}

.complete {
  text-decoration: line-through;
}

.complete:hover {
  text-decoration: line-through;
  color: black;
}

#newList {
  text-align: center;
}
