.list {
  float: left;
  border: solid black 2px;
  padding: 4px;
  border-radius: 5px;
  margin: 5px;
  background-color: #ffe;
}

.incomplete:hover {
  text-decoration: underline;
  color: blue;
}

.complete {
  text-decoration: line-through;
}

.complete:hover {
  text-decoration: line-through;
  color: black;
}
